<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <array>
            <dict>
                <key>name</key>
                <string>Able Web</string>
                <key>presets</key>
                <array>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_phone</string>
                        <key>name</key>
                        <string>Viewport XS</string>
                        <key>width</key>
                        <integer>360</integer>
                        <key>height</key>
                        <integer>640</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_tablet</string>
                        <key>name</key>
                        <string>Viewport SM</string>
                        <key>width</key>
                        <integer>768</integer>
                        <key>height</key>
                        <integer>1024</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_desktop</string>
                        <key>name</key>
                        <string>Viewport MD</string>
                        <key>width</key>
                        <integer>1360</integer>
                        <key>height</key>
                        <integer>768</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_desktop</string>
                        <key>name</key>
                        <string>Viewport LG</string>
                        <key>width</key>
                        <integer>1680</integer>
                        <key>height</key>
                        <integer>1024</integer>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>name</key>
                <string>Able Android</string>
                <key>presets</key>
                <array>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_galaxy</string>
                        <key>name</key>
                        <string>Galaxy S9, S8 ⭐️</string>
                        <key>width</key>
                        <integer>360</integer>
                        <key>height</key>
                        <integer>740</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_galaxy</string>
                        <key>name</key>
                        <string>Galaxy S10</string>
                        <key>width</key>
                        <integer>411</integer>
                        <key>height</key>
                        <integer>869</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_galaxy</string>
                        <key>name</key>
                        <string>Galaxy Note 10+</string>
                        <key>width</key>
                        <integer>411</integer>
                        <key>height</key>
                        <integer>846</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_phone</string>
                        <key>name</key>
                        <string>Pixel 3</string>
                        <key>width</key>
                        <integer>393</integer>
                        <key>height</key>
                        <integer>786</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_phone</string>
                        <key>name</key>
                        <string>Pixel 3 XL</string>
                        <key>width</key>
                        <integer>411</integer>
                        <key>height</key>
                        <integer>846</integer>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>name</key>
                <string>Able iOS</string>
                <key>presets</key>
                <array>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_phone</string>
                        <key>name</key>
                        <string>iPhone SE, 8, 7, 6 ⭐️</string>
                        <key>width</key>
                        <integer>375</integer>
                        <key>height</key>
                        <integer>667</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_phone_x</string>
                        <key>name</key>
                        <string>iPhone 12 mini, 11 Pro, Xs</string>
                        <key>width</key>
                        <integer>375</integer>
                        <key>height</key>
                        <integer>812</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_phone_x</string>
                        <key>name</key>
                        <string>iPhone 12, 12 Pro</string>
                        <key>width</key>
                        <integer>390</integer>
                        <key>height</key>
                        <integer>844</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_phone_x</string>
                        <key>name</key>
                        <string>iPhone 11 Pro Max, XR</string>
                        <key>width</key>
                        <integer>414</integer>
                        <key>height</key>
                        <integer>896</integer>
                    </dict>
                    <dict>
                        <key>allowResizedMatching</key>
                        <false/>
                        <key>offersLandscapeVariant</key>
                        <false/>
                        <key>imageName</key>
                        <string>artboard_device_phone_x</string>
                        <key>name</key>
                        <string>iPhone 12 Pro Max</string>
                        <key>width</key>
                        <integer>428</integer>
                        <key>height</key>
                        <integer>926</integer>
                    </dict>
                </array>
            </dict>
        </array>
</plist>
